body {
    background-image: url('https://image.lexica.art/full_webp/1c7294e5-b7b4-469b-b147-8d2855bd0a9d');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}